/* ================================================================ 

=================================================================== */


#nav {padding:0; margin:0; list-style:none; height:35px; background:url(../barra_fundo_0.jpg) repeat-x; position:relative; z-index:1; font-family:Arial, Helvetica, sans-serif; }
#nav li.top {display:block; float:left; height:35px;}
#nav li a.top_link {display:block; float:left; height:35px; line-height:33px; color:#213D54; text-decoration:none; font-size:15px; font-weight:bold; padding:0px 0 0 5px; cursor:pointer;background: url(../barra_fundo_bt_0.jpg);}
#nav li a.top_link span {float:left; display:block; padding:0 24px 0 5px; height:35px; background: url(../barra_fundo_bt_0.jpg) right top no-repeat;}
#nav li a.top_link span.down {float:left; display:block; padding:0 24px 0 10px; height:35px; background: url(../barra_fundo_bt0a.jpg) no-repeat right top;}


#nav li:hover a.top_link {color:#28629B; background: url(../barra_fundo_bt_0_hover.jpg) no-repeat; }
#nav li:hover a.top_link span {background:url(../barra_fundo_bt_0_hover.jpg) no-repeat right top; }
#nav li:hover a.top_link span.down {background:url(../barra_fundo_bt0a_hover.jpg) no-repeat right top;}


#nav li a.top_link_statc {	color: #213D54;	cursor: pointer;	font-size: 15px;	font-weight: bold;	line-height: 33px;	display: block;	float: left;	height: 35px;	padding: 0 24px 0 10px;	text-decoration: none;		}
#nav li:hover a.top_link_statc { color:#FFF; background: url(../barra_fundo_bt_0_hover.jpg) no-repeat;}

/* Default list styling */

#nav li:hover {position:relative; z-index:200;}

#nav li:hover ul.sub
{left:1px; top:35px; background: #F9F9F9; padding:3px;  border:1px solid #194F78; white-space:nowrap; width:210px; height:auto; z-index:300;}
#nav li:hover ul.sub li
{display:block; height:38px; position:relative; float:left; width:210px; font-weight:normal; }
#nav li:hover ul.sub li a
{display:block; font-size:12px; height:38px; width:208px; line-height:18px; text-indent:5px; color:#213D54; text-decoration:none;border:1px solid #F9F9F9;}
#nav li ul.sub li a.fly
{background:#F9F9F9 url(../barra_seta.png) 188px 6px no-repeat; }
#nav li:hover ul.sub li a:hover 
{background:#194F78; color:#fff; border-color:#fff; }
#nav li:hover ul.sub li a.fly:hover
{background:#194F78 url(../barra_seta_over.png) 190px 6px no-repeat; color:#fff;}

#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul
{left:210px; top:-4px; background: #F9F9F9; padding:3px; border:1px solid #194F78; white-space:nowrap; width:208px; z-index:400; height:auto;}

#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly
{background:#28629B url(../barra_seta_over.png) 190px 6px no-repeat; color:#fff; border-color:#fff;} 

#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly
{background:#F9F9F9 url(../barra_seta.png) 190px 6px no-repeat; color:#fff; border-color:#F9F9F9;} 
#nav .topDiv{ padding-top:6px;}
